{% extends 'vitacamp/base.html' %}


{% block content %}
<div class="form-content">
    <form method="post">{% csrf_token %}
      <div class="camp-form-content">
        <div class="row g-3">
          <div class="col-12">
            <label for="inputName" class="form-label">Наименование</label>
            <input type="text" name="title" class="form-control" id="inputName" aria-describedby="nameHelp" required>
            <div id="nameHelp" class="form-text">Укажите наименование организации</div>
          </div>
          <div class="col-12">
            <label for="inputDescription" class="form-label">Описание</label>
            <textarea class="form-control" name="label" id="inputDescription" aria-describedby="descriptionHelp" rows="4" required></textarea>
            <div id="descriptionHelp" class="form-text">Опишите организацию</div>
          </div>  
        </div>
      </div>
      <div class="col-12 top-margin bottom-margin">
        <button type="submit" class="btn btn-primary">Сохранить</button>
      </div>
    </form>
</div>
{% endblock %}